*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
C:\Users\Diego NOTE\Documents\NetBeansProjects\servidor-autenticacao-oauth2\oauth-server\target
nbactions.xml

/oauth-server/target/
/oauth-server-view/bower_components/
/oauth-server-view/node_modules/
